/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-y: auto;
}

/* Custom header styles */
.custom-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #4680A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1000;
}

.custom-header .logo img {
    height: 40px;
}

.custom-header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.custom-header nav ul li {
    display: flex;
}

.custom-header nav ul li button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 20px;
}

.user-image {
    height: 40px;
    border-radius: 50%;
}

.nav-button img {
    display: block;
}

/* Add margin to the user image button */
.custom-header .user-image {
    margin-left: 20px;
}

/* Toggle Menu Button */
.menu-button {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* Dashboard column styles */
.container {
    display: flex;
    width: 100%;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}
/* ############################################################################################### */
/* Dashboard column styles */
.dashboard-column {
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    width: 200px;
    background-color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #DADADA;
    overflow-y: auto;
}

.dashboard-heading {
    color: black;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid #DADADA;
}

.dashboard-links {
    display: flex;
    flex-direction: column;
}

.dashboard-button {
    background-color: #fff;
    color: black;
    border: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-button.active,
.dashboard-button:hover {
    background-color: #F2FAFF;
}

main {
    flex: 1;
    padding: 20px;
    margin-top: 80px;
    margin-left: 200px;
    overflow-y: auto;
    box-sizing: border-box;
}

.project-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 0 40%; /* Allows three fields per line */
    min-width: 200px;
 
}

.form-group label{
   color: #4680A6;
}



.button-container {
    flex: 0 0 35%; /* Width for the button container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Align with the fourth input */
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    height: 46px;
    padding: 13px 16.8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="tel"]:focus,
select:focus {
    border-color: #4680A6;
    outline: none;
}

button.create-order-button {
    all: unset;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: right;
    color: #5077AC;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.tasks {
    margin-bottom: 20px;
}

.task-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1fr 1fr;
    margin-bottom: 10px;
    font-weight: bold;
}

.task {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1fr 1fr;
    gap: 5px;
    margin-bottom: 10px;
}

.task-header .right,
.task .right {
    text-align: right;
}

.task input,
.task select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-task {
    display: inline-block;
    margin-top: 10px;
    color: #4680A6;
    text-decoration: none;
}

.form-actions {
    display: flex;
    gap: 10px;
}
/* ##############################################Save Button & Cancel Button################################################# */
.save-button,
.cancel-button {
    padding: 15px 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    border: 1px solid #4680A6;
    background-color: #fff;
    color: #4680A6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.save-button {
    background-color: #4680A6;
    color: #fff;
}

.cancel-button:hover {
    background-color: #4680A6;
    color: #fff;
}

/* ##############################################Save Button & Cancel Button################################################# */
.edit-button:hover,
.delete:hover {
    color: #4680A6;
}

.edit-button,
.delete {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
}

.edit-button {
    margin-right: 15px;
    margin-left: 15px;
}

.delete {
    margin-left: 15px;
}

/* Project list styles */
.project-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.project-list th,
.project-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.project-list th {
    background-color: #f4f4f4;
}

.status.done {
    color: green;
}

.status.inprogress {
    color: orange;
}

.status.todo {
    color: red;
}

/* Custom footer styles */
.custom-footer {
    margin-top: 50px;
    width: 100%;
    background: #F2FAFF;
    padding: 20px 0;
    text-align: center;
}

.footer-text {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-text span {
    color: #4680A6;
    font-size: 14px;
}

.social-links img {
    height: 24px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    main {
        margin-left: 200px;
        padding: 10px;
    }

    .task-header,
    .task {
        grid-template-columns: repeat(3, 1fr);
    }

    .form-actions {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .custom-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: #4680A6;
        display: flex;
        align-items: center;  /* This centers elements vertically */
        padding: 0 16px;
        z-index: 1000;
      }
    .custom-header nav {
        display: none; /* Hide the menu by default */
      }
    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .custom-header nav ul li {
        width: 100%;
    }
    .dropdown-content {
        display: block;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
    }
    .dropdown.show  {
      
        width: 80%;
    }
   .menu-button {
  display: block;  /* Ensure the button is always displayed */
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;  /* Move the button to the left side */

}


    #menu-toggle:checked + .menu-button + nav {
        display: block;
        position: absolute;
        background: #4680A6;
        top: 80px;
        width: 100%;
        left: 0;
        text-align: center;
    }

    #menu-toggle:checked + .menu-button + nav ul {
        flex-direction: column;
    }

    #menu-toggle:checked + .menu-button + nav ul li {
        margin: 1rem 0;
    }


    .nav-button img {
        display: block;
    }
    
   
    
    .dashboard-column {
        position: static;
        width: 100%;
        margin-top: 70px;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #DADADA;
    }

    main {
        margin-left: 0;
        padding: 10px;
        z-index: 1;
    }

    .form-title {
        text-align: center;
    }

    .form-group label {
        text-align: center;
    }

    .tasks {
        margin-bottom: 20px;
    }

    .task-header,
    .task {
        grid-template-columns: 1fr;
    }

    .task input,
    .task select {
        width: 100%;
    }

    .project-list table {
        font-size: 14px;
    }
    .dropdown-content{
        width: 280px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .custom-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-image {
        height: 30px;
    }

    .dashboard-column {
        position: static;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #DADADA;
        text-align: left;
        padding-left: 10px;
    }
    .dropdown-content {
        display: block;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
    }
    .dropdown.show  {
      
        width: 80%;
    }
    main {
        margin-left: 0;
        padding: 10px;
    }

    .form-title {
        text-align: center;
        font-size: 20px;
    }

    .form-group label {
        text-align: left;
        font-size: 14px;
    }

    .form-group input,
    .form-group select {
        padding: 8px;
        font-size: 14px;
    }

    .task-header,
    .task {
        grid-template-columns: 1fr;
    }

    .task-header span,
    .task span {
        display: none;
    }

    .task input,
    .task select {
        width: 100%;
    }

    .add-task {
        text-align: center;
    }

    .form-actions {
        flex-direction: column;
        align-items: center;
    }
    .form-actions {
        /* Existing styles... */
        margin: 0 -10px;  /* Add negative margin to reduce space */
      }
      

    .save-button,
    .cancel-button {
        width: 100%;
        text-align: center;
        
    }

    .project-list table {
        font-size: 12px;
    }

    .footer-text {
        flex-direction: column;
        align-items: center;
    }

    .footer-text span {
        margin-bottom: 10px;
    }
}

       /* /////additional code/////// */
@media (max-width: 481px) {
    .cancel-button{
         margin-top: -150px;
         margin-bottom: 50px;
         width: 24%;
         padding-left: 30px;
    }
    .save-button{
        width: 24%;
        padding-left: 30px;
    }
    .dropdown-content{
        width: 280px;
    }
    .menu-button{
       margin-bottom: 50px;
       margin-top: -100px;
    }
    .logo{
        margin-bottom: 50px;
       margin-top: 10px;
    }
}
