/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

/* Custom header styles */
.custom-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #4680A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1000;
    /* Ensure the header is above other content */
}

.custom-header .logo img {
    height: 40px;
}

.custom-header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.custom-header nav ul li {
    display: flex;
}

.custom-header nav ul li button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    /* Add horizontal padding to create space */
}

.user-image {
    height: 40px;
    border-radius: 50%;
}

.nav-button img {
    display: block;
}

/* Add margin to the user image button */
.custom-header .user-image {
    margin-left: 20px;
    /* Adjust this value to add more or less space */
}
/* Toggle Menu Button */
.menu-button {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-toggle {
    display: none;
} 

/* Dashboard column styles */
.container {
    display: flex;
    width: 100%;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dashboard-column {
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    width: 200px;
    background-color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #DADADA;
    overflow-y: auto;
}

.dashboard-heading {
    color: black;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid #DADADA;
}

.dashboard-links {
    display: flex;
    flex-direction: column;
}

.dashboard-button {
    background-color: #fff;
    color: black;
    border: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-button.active,
.dashboard-button:hover {
    background-color: #F2FAFF;
}

main {
    width: 100%;
    padding: 20px;
    margin-top: 60px;
    /* Ensure content starts below the fixed header */

    /* Include padding and border in element's total width and height */
}.profile-section {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    z-index: 0; /* Ensure profile section is behind header */
}

.profile-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    object-fit: cover;
    z-index: -1; /* Ensure background is behind other content */
}

.profile-info {
    position: relative; /* Adjust to relative */
    z-index: 1; /* Ensure content is above background */
    padding-top: 20px; /* Adjust padding as needed */
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.product-button1 {
    position: absolute;
    bottom: 20px; /* Adjust distance from bottom */
    right: 20px; /* Adjust distance from right */
    color: #4680A6;
    background-color: white;
    border: 1px solid #4680A6;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2; /* Ensure button is above other content */
}

.product-button1:hover {
    background-color: #356291;
    color: white;
}

   
.product-grid {
    margin-left: 70px;
    margin-right: 70px;
}

hr {

    border: none;
    /* Remove the default border */
    border-top: 2px solid lightgrey;
    /* Set a light color */
    transition: border-color 0.3s;
    /* Smooth transition for the color change */
}

hr:hover {
    border-top: 2px solid #4680A6;
    /* Change the color to blue on hover */
}

.tabs {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-bottom: 20px;
    border: 0.5px solid #4680A6;
    /* Border color and width */
    box-shadow: 0px 0px 10px 0px rgba(70, 128, 166, 0.25);
    /* Box shadow with rgba for transparency */
    padding: 10px;
    /* Padding to create space between border and content */
    margin-left: 80px;
    margin-right: 80px;
}

.tab-button {
    padding: 10px 70px;
    /* Increased horizontal padding */
    min-width: 120px;
    /* Set a minimum width */
    border: none;
    /* Remove individual button borders */
    background-color: #fff;
    color: #4680A6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    margin-left: 50px;
}

.tab-button.active,
.tab-button:hover {
    background-color: #4680A6;
    color: #fff;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}.product-box {
    position: relative;
    width: calc(33.333% - 20px); /* Adjust width as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden to contain positioned elements */
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(70, 128, 166, 0.25); /* Example box shadow */
}

.product-header {
    position: relative;
    text-align: right;
}

.settings-icon {
    width: 24px; /* Adjust width of settings icon */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

.dropdown1-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown1-content a {
    color: #4680A6;
    padding: 2px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown1-content a:hover {
    background-color: #f1f1f1;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4680A6;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
/* Custom footer styles */


.show {
    display: block;
}
.product-content {
    position: relative; /* Ensure content is positioned relative to product-box */
}

.product-image {
    width: 100%; /* Adjust width of product image */
    max-width: 100px; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

.product-box h3 {
    margin-bottom: 5px;
}

.product-button {
    margin-top: 10px;
    padding: 10px 20px;
   color: #4680A6;
   background-color: white;

    border: 1px solid #4680A6;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #356291;
    color: white;
    border: 1px solid white;
}

/* Custom footer styles */
.custom-footer {
    width: 100%;
    background: #F2FAFF;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-text {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-text span {
    color: #4680A6;
    font-size: 14px;
}

.social-links img {
    height: 24px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .custom-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        flex-direction: column;
    }

    .dashboard-column {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #DADADA;
        text-align: left;
        padding: 20px 16px;
    }

    main {
        margin-left: 0;
        padding: 20px 16px;
    }
    .task-header,
    .task {
        grid-template-columns: repeat(3, 1fr);
    }

    .form-actions {
        justify-content: center;
    }

    .product-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .custom-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: #4680A6;
        display: flex;
        align-items: center;  /* This centers elements vertically */
        padding: 0 16px;
        z-index: 1000;
      }
    .custom-header nav {
        display: none; /* Hide the menu by default */
      }
    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .custom-header nav ul li {
        width: 100%;
    }
    .dropdown-content {
        display: block;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
    }
    .dropdown.show  {
      
        width: 80%;
    }
   .menu-button {
  display: block;  /* Ensure the button is always displayed */
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;  /* Move the button to the left side */

}


    #menu-toggle:checked + .menu-button + nav {
        display: block;
        position: absolute;
        background: #4680A6;
        top: 80px;
        width: 100%;
        left: 0;
        text-align: center;
    }

    #menu-toggle:checked + .menu-button + nav ul {
        flex-direction: column;
    }

    #menu-toggle:checked + .menu-button + nav ul li {
        margin: 1rem 0;
    }


    .nav-button img {
        display: block;
    }
    .custom-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .dashboard-column {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #DADADA;
        position: relative;
        text-align: left;
        padding: 20px 16px;
    }

    main {
        margin-left: 0;
        padding: 20px 16px;
    }

    .section-title {
        text-align: left;
    }

    .form-group label {
        text-align: left;
    }

    .form-actions {
        flex-direction: column;
        align-items: flex-start;
    }

    .cancel-button,
    .save-button {
        width: 100%;
        text-align: center;
    }

    .product-box {
        width: calc(100% - 20px);
    }
    .dropdown-content{
        width: 280px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .custom-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-image {
        height: 30px;
    }

    .dashboard-column {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #DADADA;
        text-align: left;
        padding-left: 10px;
    }
    .dropdown-content {
        display: block;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
    }
    .dropdown.show  {
      
        width: 80%;
    }

    main {
        margin-left: 0;
        padding: 20px 10px;
    }

    .section-title {
        text-align: left;
        font-size: 20px;
    }

    .form-group label {
        text-align: left;
        font-size: 14px;
    }

    .form-group input,
    .form-group select {
        padding: 8px;
        font-size: 14px;
    }

    .tab-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .form-actions {
        flex-direction: column;
        align-items: center;
    }

    .cancel-button,
    .save-button {
        width: 100%;
        text-align: center;
    }

    .product-box {
        width: calc(100% - 20px);
    }

    .footer-text {
        flex-direction: column;
        align-items: center;
    }

    .footer-text span {
        margin-bottom: 10px;
    }
}
@media (max-width: 481px) {
    
    .dropdown-content{
        width: 280px;
    }
    
    .menu-button{
        margin-bottom: 50px;
        margin-top: -100px;
     }
     .logo{
         margin-bottom: 50px;
        margin-top: 10px;
     }
}