/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Custom header styles */
.custom-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #4680A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1000;
}

.custom-header .logo img {
    height: 40px;
}

.custom-header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.custom-header nav ul li {
    display: flex;
}

.custom-header nav ul li button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 20px;
}

.user-image {
    height: 40px;
    border-radius: 50%;
}

.nav-button img {
    display: block;
}

.custom-header .user-image {
    margin-left: 20px;
}
/* Toggle Menu Button */
.menu-button {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 80px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dashboard-column {
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    width: 200px;
    background-color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #DADADA;
    overflow-y: auto;
}

.dashboard-heading {
    color: black;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid #DADADA;
}

.dashboard-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-button {
    background-color: #fff;
    color: black;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dashboard-button.active,
.dashboard-button:hover {
    background-color: #F2FAFF;
}

main {
    flex: 1;
    padding: 20px 16px;
    margin-left: 200px;
    overflow-y: auto;
    box-sizing: border-box;
}

.landing-page-section {
    margin-bottom: 40px;
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: 1px solid #4680A6;
    background-color: #fff;
    color: #4680A6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.tab-button.active,
.tab-button:hover {
    background-color: #4680A6;
    color: #fff;
}

.dropdown-landing {
    position: relative;
    display: inline-block;
}

.landing-button {
    background-color: #4680A6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.landing-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px;
    /* Increase width */
}

.landing-dropdown-content .landing-dropdown-item {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.landing-dropdown-content .landing-dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-landing:hover .landing-dropdown-content {
    display: block;
}

.landing-page-form {
    margin-top: 20px;
    display: none;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #4680A6;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-actions {
    display: flex;
    gap: 10px;
}

.save-button,
.cancel-button {
    padding: 10px 20px;
    border: 1px solid #4680A6;
    background-color: #fff;
    color: #4680A6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.save-button:hover,
.cancel-button:hover {
    background-color: #4680A6;
    color: #fff;
}

.custom-footer {
    width: 100%;
    background: #F2FAFF;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-text {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-text span {
    color: #4680A6;
    font-size: 14px;
}

.social-links img {
    height: 24px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .custom-header,
    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        flex-direction: column;
    }

    .dashboard-column {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #DADADA;
    }
    .task-header,
    .task {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        margin-left: 0;
        padding: 10px;
    }

    .form-actions {
        justify-content: center;
    }

    .tab-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .custom-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: #4680A6;
        display: flex;
        align-items: center;  /* This centers elements vertically */
        padding: 0 16px;
        z-index: 1000;
      }
    .custom-header nav {
        display: none; /* Hide the menu by default */
      }
    .custom-header nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .custom-header nav ul li {
        width: 100%;
    }
    .dropdown-content {
        display: block;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
    }
    .dropdown.show  {
      
        width: 80%;
    }
   .menu-button {
  display: block;  /* Ensure the button is always displayed */
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;  /* Move the button to the left side */

}


    #menu-toggle:checked + .menu-button + nav {
        display: block;
        position: absolute;
        background: #4680A6;
        top: 80px;
        width: 100%;
        left: 0;
        text-align: center;
    }

    #menu-toggle:checked + .menu-button + nav ul {
        flex-direction: column;
    }

    #menu-toggle:checked + .menu-button + nav ul li {
        margin: 1rem 0;
    }


    .nav-button img {
        display: block;
    }
    
    .dashboard-column {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #DADADA;
        position: relative;
    }

    main {
        width: 100%;
        padding: 10px;
    }

    .form-group label {
        text-align: center;
    }

    .form-actions {
        flex-direction: column;
        align-items: center;
    }

    .save-button,
    .cancel-button {
        width: 100%;
        text-align: center;
    }

    .tab-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .dropdown-content{
        width: 280px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .user-image {
        height: 30px;
    }

    .dashboard-column {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #DADADA;
        text-align: left;
        padding-left: 10px;
    }

    .dropdown-content {
        display: block;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
    }
    .dropdown.show  {
      
        width: 80%;
    }
    main {
        width: 100%;
        padding: 10px;
    }

    .form-group label {
        text-align: left;
        font-size: 14px;
    }

    .form-group textarea {
        padding: 8px;
        font-size: 14px;
    }

    .tab-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .form-actions {
        flex-direction: column;
        align-items: center;
    }

    .save-button,
    .cancel-button {
        width: 100%;
        text-align: center;
    }

    .footer-text {
        flex-direction: column;
        align-items: center;
    }

    .footer-text span {
        margin-bottom: 10px;
    }
}
@media (max-width: 481px) {
    
    .dropdown-content{
        width: 280px;
    }
    .menu-button{
       margin-bottom: 50px;
       margin-top: -50px;
    }
}
@media (max-width: 768px) {
    .custom-header .logo {
        margin-right: auto; /* Pushes everything else to the opposite side */
        padding-left: 5px; /* Adds some padding to ensure it doesn't touch the screen edge */
    }
}
